*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.slink{
width: 200px;
height: 5px;
text-align: center;
padding: 25px 0px;
box-shadow: 0px 0px 5px 5px #ccc;
align-items: flex-start;
flex-direction: row;
margin-bottom: 50px;
margin:auto;
padding-bottom: 50px;
background-color: #ccc;
}

.slink i {
color: blue;
font-size: 30px;
transition: 0.5s;
}
.slink i:hover{
    color: red;
}


.back{
    padding-top: 50px;
}

.main{
    padding-top: 50px;
    width: 1000px;
    height: 540px;
    background-color: peachpuff;
    font-family: sans-serif;
    border: 5px solid red;
    margin: auto;
    box-shadow: 0px 0px 5px 10px rgb(92, 14, 161) , inset 0px 5px 10px rgb(119, 15, 156);
}

.row1{

    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-weight: 400;
    width: 1000px;
    height: 100px;
    color: aliceblue;
    font-size: 40px;
    text-align: center;
    font-size: bold;
    font-style: italic;
    text-decoration: underline;
    background-color: rgb(52, 136, 220);
    text-transform: uppercase;
    text-shadow: 0px 0px 10px purple, 0px 0px 5px red;
    
}
.row2c1{
    width: 186px;
    height: 36px;
    float: left;
    background-color: aqua;
    text-align: center;
    font-size: bolder;
    border: 2px solid black;
    margin-left: 5px;
    margin-right: 5px;
}
.row3{
    width: 1000px;
    height: 200px;
    background-color: brown;
}
.row3left{
    width: 250px;
    height: 200px;
    float: left;
    background-color: brown;
}
.row3right{
    width: 750px;
    height: 200px;
    float: right;
    background-color: rgb(21, 61, 171);
}
.rowleftl{
    width: 250px;
    height: 40px;
    color: azure;
    font-size: 20px;
    text-align: center;
    font-size: bold;
    font-style: italic;
    text-decoration: underline;
  
  
}
.back{
    width: 100%;
    height: 1000px;
    background-color: rgb(250, 215, 245);
}

.project-section{
width: 100%;
background-color: #f7f2ec;
padding-bottom: 50px;
}
.project-section-mid h2{
    width: 1320px;
    text-align: center;
    padding: 30px 0px;
}


.project-item-outer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.project-items{
    width: 20%;
    margin: 1%;
    padding-left: 100px;
    text-align: center;
    background-color: white;
    padding: 30px 0px;
}

.project-items img{
    width: 70px;
}




.flexexample{
    width: 1320px;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse; 
    padding-bottom: 50px;


}
.flexitems{
    background-color: purple;
    color: aliceblue;
    margin: 10px;
    text-align: center;
    width: 500px;
    
    
}


.flexexamplenew{
    width: 1200px;
    margin: auto;
    display: flex;
    height: 500px;
    align-items: flex-start;
    flex-direction: row;
    margin-bottom: 50px;
    justify-content: space-around;
    gap: 20px;
    
}

.items{
    width: 200px;
    text-align: center;
    padding: 30px 0px;
    box-shadow: 0px 0px 10px 5px #ccc;
}


.items img{
    width: 50px;
}

.hoverbox {
    text-align: center;
    width: 300px;
    height: 300px;
    background-color: rebeccapurple;
    transition: 2s;

}
.hoverbox:hover{
    background-color: black;
    color: white;
}
.hoverbox h2{
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-weight: 400;
}

