*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}


.main{
    width: 1000px;
    height: 540px;
    background-color: peachpuff;
    font-family: sans-serif;
    border: 5px solid red;
    margin: auto;
    box-shadow: 0px 0px 5px 10px rgb(92, 14, 161) , inset 0px 5px 10px rgb(119, 15, 156);
}
.row1{
    width: 1000px;
    height: 100px;
    color: aliceblue;
    font-size: 40px;
    text-align: center;
    font-size: bold;
    font-style: italic;
    text-decoration: underline;
    background-color: rgb(52, 136, 220);
    text-transform: uppercase;
    text-shadow: 0px 0px 10px purple, 0px 0px 5px red;
    
}
.row2c1{
    width: 186px;
    height: 36px;
    float: left;
    background-color: aqua;
    text-align: center;
    font-size: bolder;
    border: 2px solid black;
    margin-left: 5px;
    margin-right: 5px;
}
.row3{
    width: 1000px;
    height: 200px;
    background-color: brown;
}
.row3left{
    width: 250px;
    height: 200px;
    float: left;
    background-color: brown;
}
.row3right{
    width: 750px;
    height: 200px;
    float: right;
    background-color: rgb(21, 61, 171);
}
.rowleftl{
    width: 250px;
    height: 40px;
    color: azure;
    font-size: 20px;
    text-align: center;
    font-size: bold;
    font-style: italic;
    text-decoration: underline;
  
  
}
.back{
    width: 100%;
    height: 1000px;
    background-color: rgb(250, 215, 245);
}

.project-section{
width: 100%;
height: 500px;
background-color: #f7f2ec;
}
.project-section-mid{
    width: 1320px;
    margin: auto;
}
.flexexample{
    width: 1320px;
    margin:auto;
    display: flex;
    flex-wrap: wrap;  */count white-space*/

}
.flexitems{
    background-color: purple;
    color: aliceblue;
    margin: 10px;
    text-align: center;
    width: 500px;
}